body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
    height: 100%; /* Full height */
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.button {
    padding: 20px;
    font-size: 20px;
    width: 80%;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#loadingBar {
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}
